/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px;
  border-radius: 6px;
}

.sidebar a:hover,
.sidebar a.active {
  background: #2563eb;
  color: white;
}

.sidebar button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 6px;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
  background: #f3f4f6;
}

/* TEXT */
.sub {
  color: gray;
  margin-bottom: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.card:hover {
  transform: translateY(-5px);
}

/* LINKS */
.card a {
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
}
input {
  padding: 10px;
  width: 60%;
  margin-right: 10px;
}

button {
  padding: 10px;
}

ul {
  margin-top: 20px;
}

li {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}
/* NOTES */
#notesList {
  margin-top: 20px;
}

.note-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.note-card a {
  color: #2563eb;
}

.note-card a {
  color: #2563eb;
}
/* DARK MODE */
.dark {
  background: #111827;
  color: white;
}

/* SIDEBAR */
.dark .sidebar {
  background: #020617;
}

/* MAIN CONTENT */
.dark .content {
  background: #111827;
}

/* CARDS */
.dark .card,
.dark .box,
.dark .note-card {
  background: #1f2937;
  color: white;
}

/* LINKS */
.dark a {
  color: #60a5fa;
}
.note-card button {
  margin-top: 10px;
  padding: 6px 10px;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note-card button:hover {
  background: #dc2626;
}
.note-card button {
  margin-right: 5px;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note-card button:first-child {
  background: #f59e0b;
  color: white;
}

.note-card button:last-child {
  background: #ef4444;
  color: white;
}
#memberList {
  margin-top: 10px;
}

#memberList li {
  background: white;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
}
#attendanceList {
  margin-top: 10px;
}

#attendanceList li {
  background: white;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
}